extends layout/main

block title
    | Главная страница

block content
    h1 hello world!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iure beatae harum error vero dicta facere, sit, voluptas ratione et voluptatem sint labore reiciendis odio minima quasi natus consequuntur praesentium expedita?