html(lang="en")
    head
    body
        include modules/header
        h1 Static page!
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea similique officia quasi repellat suscipit iusto, ullam quo sint vero natus!s