extends layout/page

block title
    | Внутренняя страница

block content
    h1 static page!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur, possimus molestiae beatae explicabo similique pariatur sunt blanditiis, ratione eum unde consectetur voluptatem commodi alias distinctio delectus ipsa dolorum! Quas, fugiat!